.authnav {
    width: 90%;
    margin: auto;
    padding-top: 12px;
    padding-bottom: 15px;
  }
  .authnav > svg:nth-child(1) {
    width: 20px; height: 20px;
    display: none;
  }
  ._0004_logo_svg {
    width: 130px;
    margin: auto;
  }

  @media screen and (max-width: 520px) {
    ._0004_logo_svg {
      width: 115px;
    }
    .authnav {
      width: 87%;
      padding-top: 12px;
      padding-bottom: 20px;
    }
  }