.a__class {
    display: block;
    width: max-content;
    text-decoration: none;
    color: #00acee;
    font-family: var(--global-regular);
}
.ol {
    /* padding: 27px;  */
    margin-left: -9px;
}
.a:hover {
    text-decoration: underline;
}
.a__class {
    padding-left: 10px;
}
.icon {
    display: flex;
}
.body {
    margin: 0px;
    padding: 0px;
}
.nav {
    background-color: white;
    padding-top: 22px;
    top: 0px;
    padding-bottom: 22px;
    position: fixed;
    width: 100vw;
    padding-left: 32px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.nav > a > img {
    width: 120px;
}
.links__holder {
    width: max-content;
    margin-top: 22px;
    margin-bottom: 150px;
}
.li__class {
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
}
.header__all {
    font-family: var(--global-bold);
    font-weight: 400;
    font-size: 17px;
    color: rgb(30, 30, 30);
}
.tos__body {
    width: 85%;
    max-width: 840px;
    margin: auto;
    margin-top: 120px;
    /* border: 1px solid black; */
}
.tos__header {
    font-family: var(--global-bold);
    font-size: 25px;
    font-weight: 600;
    color: rgb(17, 17, 17);
    margin-top: 0px;
    margin-bottom: 35px;
}
.p_main {
    font-family: var(--global-medium);
    /* text-align: center; */
    font-weight: 500;
    font-size: 15px;
    padding-bottom: 60px;
    color: rgb(50, 50, 50);
}
.space {
    height: 100px;
}
.terms__o__s {
    margin-bottom: 60px;
}
.terms__o__s > h4 {
    margin-top: 0px;
    margin-bottom: 15px;
    font-family: var(--global-medium);
    /* font-weight: 600; */
    font-size: 18px;
}
.terms__o__s > span {
    font-family: var(--global-regular);
    font-weight: 400;
    text-align: justify;
    display: block;
    font-size: 14px;
}
.footer__parent {
    border-top: 1px solid rgb(175, 175, 175);
    padding-top: 20px; 
    padding-bottom: 80px;
}
.svg__social {
    width: 20px; height: 20px;
    margin-right: 9px;
}
.footer {
    display: flex;
    width: max-content;
    /* margin: auto; */
}
.footer > div:nth-child(1), .footer > div:nth-child(2) {
    margin-right: 50px;
}
.footer > div > span{
    font-family: 'Poppins', sans-serif;
    display: block;
    font-size: 14px;
    margin-bottom: 12px;
}