._000_main_div {
    width: 100%;
    max-width: var(--main-width);
    /* border: var(--testing-borders);   */
    min-height: 100vh;
    margin: auto;
    display: flex;
    /* justify-content: space-between;
    align-items: flex-start; */
}
/* .Link {
    border: 1px solid black;
} */
/* .__user__data__hold {
    border: 1px solid black;
    height: 30px; width: 30px;
    border-radius: 50%;
} */
._000leftbar > .Link > div, ._000leftbar > div {
    /* border: 1px solid black; */
    display: flex;
    margin-bottom: 19px;
    width: max-content;
    border-radius: var(--button-radius);
    padding: 5px;
    padding-right: 10px;
}
._000leftbar > div:hover, ._000leftbar > .Link > div:hover {
    background-color: rgba(207, 207, 207, 0.113);
    cursor: pointer;
    border-radius: 1000px;
}

 .inactiveState{
        /* background: pink; */
  }

._000leftbar > .__logo:hover {
    background-color: var(--transparent);
}
.span_data_sidebar {
    font-family: var(--global-regular);
    font-size: 18.4px;
    /* margin-top: -4px; */
    margin: 0px;
    display: block;
    margin-left: 18px;
    color: gray;
    letter-spacing: 0.1px;
}
.sidebar__svg {
    width: 21px; height: 21px;
    /* stroke-width: 2px; */
    /* stroke: rgb(197, 197, 197); */
    /* border: 1px solid black; */
    /* padding-left: 10px; padding-right: 10px; */
    box-sizing: content-box;
    /* stroke: var(--grey); */
}
.img-data-user {
    height: 27px; height: 27px;
    border-radius: 50%; object-fit: cover;
}
._0004_logo_svg {
    width: 132px;
}
  /* ._0004_logo_svg:hover {
    background-color: var(--transparent-background-color);
} */
  
  
._000leftbar {
    /* border: 1px solid red; */
    width: 250px;
    position: fixed;
    top: 0px;
    margin-top: 0px;
    height: 100%;
    overflow: auto;
    /* padding-top: 20px; */
}
._000middlebar {
    border: var(--border-all);
    width: 600px;
    padding-bottom: 120px;
    position: relative;
    border-top: none;
    border-bottom: none;
    /* margin: auto; */
}
._000rightbar {
    /* border: 1px solid green; */
    width: 320px;
    /* width: max-content; */
}
.___main_nav {
    border-bottom: var(--border-all);
    padding-top: 13px; padding-bottom: 13px; padding-left: 18px;
    position: sticky;
    top: -2px;
    margin-top: -5px;
    background-color: white;
    z-index: 50;
  
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
}
.___main_nav > div > span, .___main_nav > span {
    font-family: var(--global-bold);
    font-size: 19px;
    color: rgb(68, 68, 68);
}
.___main_nav > div {
    position: relative;
}
._00_history__back {
    /* border: 1px solid black; */
    position: absolute;
    /* background-color: #01a8ea2d; */
    /* display: none; */
    padding: 4px;
    box-sizing: content-box;
    width: 21px; height: 21px;
    border-radius: 50%;
    left: -5px;
    cursor: pointer;
    transition: 0.7s all;
    top: -1px;
}
._00_history__back:hover {
    stroke: var(--brand-color);
    background-color: #01a8ea1d;
    transition: 0.7s all;
}
.not_home_nav_text {
    padding-left: 34px;
}
.data_count_bookm {
    font-family: var(--global-regular) !important;
    font-size: 15px !important;
    background-color: rgba(128, 128, 128, 0.104);
    /* padding: 4px; */
    /* border: 1px solid black; */
    /* width: 20px; height: 20px; */
    border-radius: 100px;
    display: block;
    position: absolute;
    padding-left: 10px; padding-right: 10px;
    /* padding-top: 3px; padding-bottom: 3px; */
    margin: 0;
    right: 15px;
    color: rgb(141, 141, 141);
    top: 4px;
}
.div {
    /* border: 1px solid black; */
    /* height: 400px; */
    padding: 13px;
    display: block;
    box-sizing: border-box;
    padding-right: 25px;
    padding-left: 25px;
    /* padding-right: 0px; padding-left: 0px; */
    padding-bottom: 7px;
    border-bottom: 1px solid rgb(225, 225, 225);
    cursor: pointer;
}
.div > div:nth-child(1) {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    margin: auto;
}
.div > div:nth-child(2) {
    /* border: 1px solid green; */
    width: 100%;
    padding-top: 5px;
}
.main_flex_components {
    /* border: 1px solid yellow; */
    width: 990px;
    -webkit-box-flex: 1;
    display: flex;
    margin-left: 290px;
    justify-content: space-between;
}
.data_content_pimg {
    width: 45px; height: 45px;
    border-radius: 50%; object-fit: cover;
    margin-right: 15px;
}
._0022_nm_usr {
    font-family: var(--global-bold);
    font-size: 16px;
    /* font-weight: 600; */
    color: rgb(55, 55, 55);
}
._0022_nm_usr > span, .postt-uname-hover {
    color: gray;
    font-family: var(--global-regular);
    font-size: 16px;
    margin-left: 5px;
}
._000_dt_data {
    color: gray;
    font-family: var(--global-regular);
    font-size: 14px;
    display: block;
    margin-top: 2px;
    margin-bottom: 10px;
}
._ttl_top {
    font-family: var(--global-bold);
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 6px;
    display: block;
    color: rgb(39, 39, 39);
}
._ttl_contxt {
    font-family: var(--global-regular);
    font-size: 16px;
    color: rgb(40, 40, 40);
    display: block;
    margin-bottom: 8px;
}
.grid_101 {
    /* border: 1px solid black; */
    text-align: center;
}
._00img_data {
    border-radius: var(--modal-radius);
    border-radius: 20px;
    width: 100%;
    max-height: 650px;
    object-fit: cover;
    /* margin: auto; */
    /* text-align: center; */
}
._00ftr_pst {
    /* border: 1px solid black; */
}
.x_icn_ftr {
    width: 19px; height: 19px;
    margin-right: 0px;
    padding: 3px;
    box-sizing: content-box;
    fill: rgb(100, 100, 100);
}
._00mn_span, ._00ftr_pst {
    display: flex;
    /* border: 1px solid red; */
    height: 29px;
}
._00ftr_pst {
    position: relative;
    /* border: 1px solid red; */
}
._00mn_span {
    cursor: pointer;
    /* margin-right: 20px; */
    /* border: 1px solid black; */
    width: 50%;
}
._00mn_spn_cnt {
    font-family: var(--global-regular);
    /* font-weight: 400; */
    font-size: 14px;
    display: block;
    /* border: var(--testing-borders); */
    padding-top: 3px;
    color: rgb(98, 98, 98);
    margin-left: 1px;
}
._00_tps_str {
    position: absolute;
    right: -8px;
}
.__parent_00_q {
    /* border: 1px solid blue;  */
    position: sticky;
    top: 20px;
}
  input[type="search"]._000sch_int {
    /* border: 1px solid black; */
    width: 91%;
    padding-left: 19px;
    /* padding-top: 10px; padding-bottom: 10px; */
    border-radius: 1000px;
    background-color: rgb(245, 245, 245);
    outline: none;
    font-family: var(--global-regular);
    font-size: 15px;
    cursor: pointer;
    height: 47px;
    pointer-events: auto;
}
  input[type="search"]._000sch_int::placeholder {
    color: rgb(172, 172, 172);
}
._0xschsvg {
    position: absolute;
    width: 19px; height: 19px;
    right: 50px;
    top: 14px;
}
.sgstn {
    /* border: 1px solid black; */
    margin-top: 25px;
    border-radius: var(--modal-radius);
    box-sizing: border-box;
    /* background-color: #a5bbc30b; */
    padding-bottom: 15px;
    position: relative;
}
.sgstn > span {
    font-family: var(--global-bold);
    font-size: 18px;
    padding-top: 15px; padding-bottom: 22px;
    display: block;
    margin-left: 19px;
    color: rgb(67, 67, 67);
    letter-spacing: 0.2px;
}
.sgstn_tst {
    display: flex;
    /* border: 2px solid blue; */
    box-sizing: border-box;
    margin-bottom: 5px;
    padding-top: 5px; padding-bottom: 5px;
}
.sgstn_tst > div:nth-child(1) {
    /* border: 1px solid red; */
    padding-left: 14px;
    width: 20%;
    box-sizing: border-box;
}
.sgstn_tst > div:nth-child(2) {
    /* border: 1px solid blue; */
    width: 52%;
    box-sizing: border-box;
    padding-left: 5px;
}
.sgstn_tst > div:nth-child(3) {
    /* border: 1px solid rgb(128, 0, 51); */
    width: 28%;
    box-sizing: border-box;
    padding-right: 16px;
}
.xqsstn_bn {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.yynmsq, .yyusbsq {
    display: block;
    letter-spacing: 0.2px;
}
.yynmsq {
    font-family: var(--global-bold);
    font-size: 15px;
    color: rgb(75, 74, 89);
}
.yyusbsq {
    font-family: var(--global-regular);
    font-size: 13px;
    color: rgb(156, 156, 156);
    margin-top: 0px;
}
.flwx_xyq_fllw {
    /* background-color: var(--transparent-background-color); */
    width: 100%;
    padding-top: 5px; padding-bottom: 5px;
    border-radius: var(--rounded-radius);
    color: var(--brand-color);
    font-family: var(--global-medium);
    font-size: 15px;
    letter-spacing: 0.2px;
    cursor: pointer;
}
.followed {
    background-color: var(--transparent);
}
._00main_ftr {
    margin-top: 18px;
}
._00main_ftr > span {
    /* margin-top: 10px; */
    font-family: var(--global-regular);
    color: gray;
    font-size: 12px;
    margin-right: 5px;
    display: inline-block;
}
.nbyd {
    /* width: 200px; border: 1px solid black; */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.nbyd > div {
    text-align: center;
}
.nbyd__svg {
    width: 40px; height: 40px;
    stroke: rgb(194, 194, 194);
}
.nby_txt {
    font-family: var(--global-medium);
    color: rgb(200, 200, 200);
    font-size: 17px;
    display: block;
    margin-top: 10px;
}
  
  /* nu;; */
.column_nav_menu_profile {
    /* margin: auto; */
    /* border: 1px solid rgb(230, 230, 230); */
    /* border-top: 1px solid rgb(230, 230, 230); */
    /* margin-bottom: 20px; */
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    /* max-width: 580px; */
    z-index: 50;
    padding: 0px; 
    margin-bottom: -13px;
    /* padding-left: 30px; */
    box-sizing: border-box;
    padding-top: 14px;
}
.flex-f-fin, .p_n_m_content {
    display: flex;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none;
            user-select: none;
}
.n_m_text {
    font-family: var(--global-regular);
    /* font-weight: 400; */
    font-size: 16px;
    color: #9e9e9e;
    margin-top: 0px;
    margin-bottom: 0px; 
    border-bottom: none;
  /* border-image: linear-gradient(to right, black 10%, transparent 90%) 0 0 3px 0 stretch; */
    width: max-content;
  
    /* change this back to orginal position after launch */
    /* width: min-content; */
    text-align: center;
    /* change this back to orginal position after launch */
  
    
    padding-bottom: 13px; padding-top: 0px;
    margin: auto;
    position: relative;
    padding-right: 10px; padding-left: 10px;
}
.n_m_text:hover {
    /* background-color: #00abee0e;
    border-top-right-radius: 8px; border-top-left-radius: 8px;
    cursor: pointer; */
    color: #00acee;
    cursor: pointer;
}
.active_n_m_text {
    color: #00acee;
    font-family: var(--global-bold);
    position: relative;
    /* border-bottom: 3px solid #00acee; */
}
.active_n_m_text::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #00acee 100%, transparent 0%);
    border-radius: 20px;
}
.p_n_m_c_div {
    /* border: 1px solid black; */
    width: 50%;
    text-align: left;
}
  
  
.post__compose__container {
    border-bottom: var(--border-all);
    padding-top: 16px;
    box-sizing: border-box;
}
.post__data__content {
    font-size: 18px;
    padding-left: 15px;
    width: 100%;
    height: 190px;
    resize: none;
    outline: none;
    caret-color: var(--brand-color);
    font-family: var(--global-light);
    color: rgb(82, 82, 82);
}
.title__content {
    height: 33px;
    font-family: var(--global-medium);
    outline: none;
    border-bottom: var(--transparent);
    font-size: 20px;
    display: block;
    margin: auto;
    width: 95%;
    margin-bottom: 16px;
    padding-left: 0px;
    margin-top: 8px;
}
.title__content:focus {
    border-bottom: var(--border-all);
    transition: 0.5s all;
}
.post__data__content::placeholder {
    color: rgb(158, 158, 158);
    letter-spacing: 0.2px;
}
.__09xfgc {
    /* border: 1px solid black; */
    display: flex;
    padding-left: 15px;
    padding-bottom: 20px;
    position: relative;
}
._sxvg_div > svg, ._sxvg_div > div > svg {
    cursor: pointer;
    /* border: var(--border-all); */
    padding: 5px;
    box-sizing: content-box;
    width: 16px; height: 16px;
    border-radius: 20%;
}
._sxvg_div > svg:hover, ._sxvg_div > div > svg:hover {
    background-color: var(--transparent-brand-color);
}
._sxvg_div {
    /* border: 1px solid red; */
    margin-right: 10px;
    position: relative;
}
.data_vh_post {
    width: 90px;
    padding-top: 6px; padding-bottom: 6px;
    background-color: var(--brand-color);
    border-radius: var(--rounded-radius);
    font-family: var(--global-medium);
    color: var(--white  );
    font-size: 15px;
    position: absolute;
    right: 15px;
    cursor: pointer;
}
._sxvg_div .tooltip {
    background-color: rgba(22, 22, 22, 0.655);
    color: rgb(240, 240, 240);
    width: max-content;
    padding-top: 3px; padding-bottom: 3px;  
    padding-right: 10px; padding-left: 10px;
    border-radius: 5px;
    font-family: var(--global-regular);
    font-size: 13px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 45px;
    visibility: hidden;
}
._sxvg_div:hover .tooltip {
    visibility: visible;
}
.options__postsettns {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 250px;
    position: absolute;
    background-color: white;
    z-index: 10;
    /* padding: 10px; */
    border-radius: 12px;
}
  /*  */
  /* input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
} */
  
.label__tips {
    cursor: pointer;
    text-indent: -9999px;
    width: 30px;
    height: 18px;
    background: rgb(175, 175, 175);
    display: block;
    border-radius: 100px;
    position: relative;
}
  
.label__tips:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 9px;
    height: 9px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}
  
  input:checked + .label__tips {
    background: #00acee;
}
  
  input:checked + .allow__tips__div > h6 {
    color: #00acee;
}
  
  input:checked + .label__tips:after {
    left: calc(100% - 4px);
    transform: translateX(-100%);
}
.span_post_option {
    display: flex;
    /* border: 1px solid black; */
    position: relative;
    /* margin-bottom: 15px; */
    font-family: var(--global-regular);
    color: rgb(67, 67, 67);
    font-size: 15px;
    border-bottom: var(--border-all);
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.span_post_option > span {
    /* border: 1px solid black; */
    height: 20px;
    top: -9px;
    right: 15px;
    position: absolute;
}
.options__postsettns > div > div:last-child span {
    border-bottom: none;
}
  
  
  /* profile css */
._000bnr {
    width: 100%;
    height: 185px;
    object-fit: cover;
}
.profile-data-container {
    /* border: 1px solid black; */
    box-sizing: border-box;
    padding-left: 20px;
}
._000data__img__div {
    background-color: white;
    height: 100px; width: 100px;
    border-radius: 50%;
    position: relative;
    /* margin-top: -90px; */
    margin-bottom: 8px;
    /* padding: 5px; */
}
.profile_img {
    position: absolute;
    width: 95%;
    height: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}
.user_data_name {
    font-family: var(--global-bold);
    font-size: 21px;
    display: block;
    color: rgb(62, 62, 62);
}
.user_data_unique {
    font-family: var(--global-regular);
    /* display: inline; */
    /* margin-left: 10px; */
    font-size: 15px;
    display: block;
    margin-bottom: 8px;
    color: rgb(137, 137, 137);
}
.xoxtrn {
    margin-right: 15px;
    font-family: var(--global-bold);
    font-size: 15px;
    color: rgb(62, 62, 62);
}
.xyxxn {
    font-family: var(--global-regular);
    color: rgb(137, 137, 137);
}
._all00xcuunt {
    display: block;
    margin-bottom: 10px;
}
.user_data_about {
    font-family: var(--global-regular);
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 15px;
    width: 75%;
    color: rgb(62, 62, 62);
}
.links__nd_xtr {
    margin-top: 10px;
    /* margin-bottom: 10px; */
    display: block;
}
.xnprlf__icn {
    width: 14px; height: 14px; 
    margin-right: 5px;
}
.pfl__data {
    font-family: var(--global-regular);
    font-size: 15px;
    color: rgb(137, 137, 137);
}
.linkr__slnt {
    transform: rotate(45deg);
}
.user__link {
    color: var(--brand-color);
}
.user__link:hover {
    cursor: pointer;
    text-decoration: underline;
}
.span__data__prfl {
    display: block;
    margin-bottom: 3px;
}
.profile_nav__forPrf {
    border-bottom: var(--border-all);
    margin-top: 30px;
}
.npy__xyz {
    text-align: center;
    font-family: var(--global-medium);
    font-size: 18px;
    margin: auto;
    margin-top: 150px;
    /* font-weight: 500; */
    color: rgb(179, 179, 179);
}
.components_selection_header {
    /* border: 1px solid black; */
    display: flex;
    padding-bottom: 20px;
    padding-top: 10px; padding-left: 10px;
}
.csh_h6 {
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; */
    font-family: var(--global-medium);
    font-size: 15px;
    font-weight: 500;
    margin-top: 0px; margin-bottom: 0px;
    padding-top: 3px; padding-bottom: 3px;
    width: 59px;
    text-align: center;
    margin-right: 20px;
    border-radius: 1000px;
    cursor: pointer;
    color: rgb(40, 40, 40);
}
.csh_h6:hover {
    background-color:#00abee23;
    color: var(--brand-color);
}
.active_csh {
    background-color: var(--brand-color);
    color: white;
}
.settings__parent {
    width: 100%;
    box-sizing: border-box;
    padding-right: 20px; padding-left: 20px;
    padding-top: 5px;
}
.subpw__t_div > h6 {
    font-family: var(--global-medium);
    /* font-weight: 600; */
    font-size: 19px;
    margin-top: 0px; margin-bottom: 0px;
    letter-spacing: 0.2px;
}
.subpw__ > p {
    font-family: var(--global-regular);
    font-weight: 400;
    font-size: 15px;
    margin-top: 10px; margin-bottom: 15px;
    color: gray;
    letter-spacing: 0.2px;
}
.ckdpoH___v {
    /* border: 1px solid black; */
    margin-top: 25px;
    padding-top: 14px; padding-bottom: 14px;
    padding-left: 15px; border-radius: 8px;
    cursor: pointer; background-color: rgb(0, 0, 0, 0.02);
    transition: 0.6s all;
    position: relative;
}
.ckdpoH___v:hover {
    background-color: #00abee23;
    transition: 0.6s all;
}
.ckdpoH___v:hover .ckdpoH_h6 {
    color: #00acee;
    transition: 0.6s all;
}
.ckdpoH___v:hover .svg___chev {
    fill: #00acee;
    transition: 0.6s all;
}
.ckdpoH___v > h6 {
    font-family: var(--global-regular);
    /* font-weight: 400; */
    font-size: 16px;
    margin: 0px;
    transition: 0.6s all;
    color: rgb(100, 100, 100);
    letter-spacing: 0.2px;
}
.float__chev__pay {
    width: min-content;
    position: absolute;
    right: 0px;
    top: 15px;
    padding-right: 6px;
}
.svg___chev {
    fill: gray;
    transition: 0.6s all;
    margin-top: -2px;
}
.ais__container, .cps__container, .pis__container, .wis__container, .css__container {
    box-sizing: border-box;
    padding-right: 20px; padding-left: 20px;
}
.ais_f__div > h6 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    margin: 0px; 
    padding-top: 15px;
    font-weight: 500;
    color: rgb(100, 100, 100);
    border-bottom: 1px solid rgb(240, 240, 240);
    padding-bottom: 17px; margin-bottom: 25px;
}
.ais__div {
    margin-bottom: 25px;
}
.ais__div > h5 {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: rgb(10, 10, 10);
}
.ais__div > h6 {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding-top: 4px;
    color: rgb(100, 100, 100);
}
.x___y_z {
    border-bottom: 1px solid rgb(240, 240, 240);
    margin-bottom: 30px;
}
  input[type="text"].reset__pwd__settn,
  input[type="password"].reset__pwd__settn {
    background-color: rgb(238, 238, 238);
    height: 40px;
    width: 100%;
    border-radius: 6px;
    outline: none;
    padding: 16px 14px 2px 14px;
    caret-color: #00ACEE;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}
  input[type="password"].reset__pwd__settn::placeholder {
    visibility: hidden;
}
.toogle__passwd {
    /* border: 1px solid black; */
    position: absolute;
    height: 20px; width: 20px;
    right: 12px; top: 10px;
    background: url(/images/passwdtoggle/show.svg);
    background-size: cover;
    cursor: pointer;
}
.toogle__passwd.hide {
    background: url(/images/passwdtoggle/hide.svg);
    background-size: cover;
}
.search__modal_container {
    background-color: rgb(0, 0, 0, 0.5);
    position: fixed; 
    width: 100vw; height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
    /* transition: all 0.7s ease-in-out; */
    overflow: auto;
}
.search__modal {
    background-color: white;
    width: 96%;
    max-width: 450px;
    margin: auto;
    margin-top: 70px;
    border-radius: 14px;
    padding: 20px; padding-top: 0px;
}
  input[type="search"].main__search__input{
    margin-top: 18px; width: 100%;
    box-sizing: border-box; height: 39px;
    padding-left: 15px; padding-right: 10px;
    background-color: rgb(243, 243, 243);
    border: transparent; border-radius: 1000px;
    font-size: 15px; font-family: var(--global-regular);
    caret-color: #00acee; outline: none; height: 44px;
}
.search__text, .search__text_uname {
    margin-top: -2px; margin-bottom: 0px;
    font-family: var(--global-bold);
    font-size: 16px;
    color: #3c3c3c;
    letter-spacing: 0.2px;
}
.search__text_uname {
    font-size: 14px;
    margin-top: 0px; margin-bottom: 0px;
    color: #6b6b6b;
    letter-spacing: 0.2px;
    font-family: var(--global-regular);
}
.st_two {
    font-size: 16px;
    margin-top: 10px;
}
.search__icon {
    padding: 4px;
    background-color: rgb(0, 0, 0, 0.06);
    border-radius: 50%;
    width: 22px; height: 22px;
    margin-right: 22px;
    box-sizing: content-box;
    box-sizing: content-box;
    margin-top: 5px;
}
.profile__s_img {
    width: 38px; height: 38px; border-radius: 50%; object-fit: cover;
    margin-right: 12px;
}
.search__recommendation_div {
    margin-top: 25px;
}
.recommendation{
    display: flex;
    padding: 6px;
    box-sizing: border-box;
    padding-top: 8px; padding-bottom: 8px;
    border-radius: 9px; margin-bottom: 9px;
    transition: 0.6s all;
}
.recommendation:hover {
    background-color: rgb(0, 0, 0, 0.06);
    cursor: pointer;
    transition: 0.6s all;
}
.flex__sm {
    display: flex;
    position: relative;
    /* border: 1px solid black; */
    height: 48px;
}
.close__search__h6 {
    font-family: var(--global-bold);
    font-weight: 500;
    font-size: 15px;
    margin: 0px;
    display: block;
    width: 105px;
    text-align: center; padding-top: 4px; padding-bottom: 4px;
    border-radius: 1000px;
    color: #00ACEE;
    transition: 0.7s all;
    position: absolute;
    right: 0;
    top: 16px;
}
.close__search__h6 {
    transition: 0.7s all;
    background-color: #00abee23; cursor: pointer;
}
.search__recommendation_div {
    /* border: 1px solid black; */
    max-height: 350px;
    overflow: auto;
}
  
.hover_main_image .hover_card, .hover_card  {
    /* border: 1px solid rgb(230, 230, 230); */
    position: absolute;
    background-color: white;
    z-index: 45;
    width: 300px;
    cursor: default;
    border-radius: 10px;
    padding: 5px; padding-left: 12px; padding-top: 10px; padding-right: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.flex_h_div {
    display: flex;
}
.image_h_c {
    height: 40px; width: 40px;
    object-fit: cover; border-radius: 50%;
    margin-right: 15px;
}
.postt_name {
    /* font-size: 15px; */
}
.postt_uname_hover {
    display: block;
    margin-left: 0px;
    font-size: 14px;
}
.xmoric {
    /* border: 1px solid black; */
    display: block;
    margin-top: 4px; 
}
.hovr__f {
    /* font-size: 14px; */
}
.hovr__bio {
    width: 98%;
    color: rgb(44, 44, 44);
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.button__for__hover__div {
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    margin-bottom: 13px; margin-top: 13px;
}
.button__for__hover__div > div {
    width: 50%;
    /* border: 1px solid black; */
}
.fllw_hvr_btn {
    width: 100%;
    padding-top: 8px; padding-bottom: 8px;
    cursor: pointer;
    font-family: var(--global-bold);
    font-size: 15px;
    border-radius: 11px;
}
.msg__hvr {
    background-color: var(--brand-color);
    color: white;
}
.follow__hvr {
    background-color: var(--transparent-background-color);
    color: var(--brand-color);
}
.hover_main_image .hover_card:before  {
    display: block;
    position: absolute;
    width: 250px;
    content: " ";
} 
.hover_main_image:hover + .hover_card{
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}
.hover_main_image .hover_card {
    display: none;
}
    
.hover_main_image:hover .hover_card {
    display: block;
}
.absolute__me__now {
    /* border: 1px solid black; */
    display: block;
    position: absolute;
    top: 100px;
    right: 15px;
}
.follow__user {
    border: var(--transparent);
    background-color: var(--transparent-brand-color);
    color: var(--brand-color);
    width: max-content;
    padding-top: 7px; padding-bottom: 7px;
    padding-left: 20px; padding-right: 20px;
    border-radius: 11px;
    font-family: var(--global-medium);
    font-size: 15px;
    letter-spacing: 0.2px;
    cursor: pointer;
    margin-left: 12px;
}

/* messages */
.message__containr__parent {
    border-right: var(--border-all);
    border-left: var(--border-all);
    display: flex;
    max-height: 100%;
    /* border-bottom: 2px solid green; */
}
.right__mssg__div {
    /* border: 1px solid black; */
    width: 100%;
    max-width: 400px;
    border-right: var(--border-all);
    position: relative;

}
.left__mssg__div {
    /* border: 1px solid green; */
    width: 100%;
    max-width: 590px;
    position: relative;
}
.no__messg__div {
    /* border: 1px solid black; */
    margin-top: 2px;
    padding-top: 19px; padding-bottom: 19px;
    padding-left: 14px;
    background-color: rgb(248, 248, 248);
}
.no__messg__div > span {
    /* color: red; */
    margin: 0; padding: 0;
}
.messages__convcnt {
    /* border: 1px solid black; */
    max-height: 100%;
    position: fixed;
    overflow: auto;
    width: 100%;
    max-width: 400px;
    height: calc(100% - 50px);
    box-sizing: border-box;
}
.message__toast {
    border: 1px solid red;
    /* width: 100px; */
    /* height: 8000px; */
    overflow: auto;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    box-sizing: border-box;
    padding-right: 15px; padding-left: 15px;
    cursor: pointer;
}
.message__toast > div:nth-child(1) {
    border: 1px solid black;
}
.message__toast > div:nth-child(2) {
    border: 1px solid red;
}
.message__toast > div:nth-child(3) {
    border: 1px solid blue;
}
.msshtst {
    width: 50px; height: 50px;
    border-radius: 50%; object-fit: cover;
}
.hold__conversations__container {
    /* border: 1px solid red; */
    height: 100%;
    width: 100%;
    max-width: 590px;
    /* position: relative; */
    /* overflow-x: hidden; */
}
.img__cht__prfl {
    width: 30px; height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.prfon_back_img {
    /* border: 1px solid black; */
    position: absolute;
    top: -1px;
}
.messg_nv_txt_hdr {
    padding-left: 45px;
}
.footer__for__messgs {
    /* border: 1px solid black; */
    border-top: var(--border-all);
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 558px;
    box-sizing: border-box;
    padding-top: 13px; padding-bottom: 10px;
    display: flex;
    padding-right: 10px; padding-left: 10px;
}
.footer__for__messgs > div:nth-child(1) {
    /* border: 1px solid black; */
    width: 90%;
}
.footer__for__messgs > div:nth-child(2) {
    /* border: 1px solid red; */
    width: 10%;
}
.message_chat_box {
    width: 100%;
    height: 44px;
    background-color: rgb(245, 245, 245);
    border-radius: 7px;
    resize: none;
    margin: 0;
    padding-left: 18px;
    padding-top: 13px;
    font-family: var(--global-regular);
    font-size: 15px;
    caret-color: var(--brand-color);
    outline: none;
}
.messages__main__chatbox {
    /* border: 2px solid blue; */
    position: fixed;
    margin-top: 1px;
    height: 100%;
    width: 100%;
    max-width: 558px;
    /* bottom: 0; */
    height: calc(100% - 126px);
    overflow: auto;
}
.profile__chat__usdata {
    width: 48px;
    height: 48px;
    object-fit: cover;
    display: block;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 15px;
}
.users__chat__metadata {
    /* border: 1px solid black; */
    padding-top: 25px; padding-bottom: 50px;
    border-bottom: var(--border-all);
    margin-bottom: 30px;
}
.chat_userdta {
    /* border: 1px solid black; */
    display: block;
    text-align: center;
    font-size: 17px;
}
.chat_userdta > span {
    display: block;
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 15px;
}
.joid__msnx {
    /* border: 1px solid black; */
    display: block;
    text-align: center;
    /* font-size: 14px; */
}
.response__holder, .reply__holder {
    /* border: 1px solid black; */
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
}
.response, .reply {
    background-color: rgb(240, 240, 240);
    padding: 11px;
    border-radius: 12px;
    display: block;
    width: max-content;
    max-width: 250px;
    font-family: var(--global-regular);
    color: rgb(27, 27, 27);
}
.response__timestamp, .reply__timestamp {
    font-family: var(--global-regular);
    color: var(--grey);
    font-size: 13px;
}
.reply__timestamp {
    /* float: right; */
    align-items: end;
    display: flex;
    justify-content: end;
}
.reply {
    color: white;
    background-color: var(--brand-color);
    /* float: right; */
}
.replycontainer {
    /* border: 1px solid black; */
    /* float: right; */
    display: block;
    /* width: max-content; */
    display: flex; 
    align-items: end;
    justify-content: end;
}
.reply__holder {
    /* height: max-content; */
    padding-right: 25px;
}
.profile__contnr {
    border-right: var(--border-all);
    border-left: var(--border-all);
}
.the__starting__point {
    display: block;
    padding-top: 40px;
    padding-left: 25px;
}
.the__starting__point {
    /* border: 1px solid green; */
    width: 80%;
    margin: auto;
    top: 0px;
    margin-top: 0px;
    /* border: 1px solid black; */
    position: relative;
}
.the__starting__point > div:nth-child(1) {
    /* border: 1px solid black; */
    width: 100%;
}
.the__starting__point > div:nth-child(2) {
    /* border: 1px solid red; */
    /* width: 50%; */
}
.pfl_you_pic {
    width: 100px;
    height: 100px;
    /* padding-left: 25px; */
}
.sxuiip {
    /* border: 1px solid black; */
    display: flex;
    margin-bottom: 15px;
}
.sxuiip > div:nth-child(1) {
    /* border: 1px solid black; */
}
.sxuiip > div:nth-child(2) {
    /* border: 1px solid black; */
    /* width: 90%; */
    width: 80%;
}
.dxcWAsd {
    padding-left: 25px;
}
.span__xyz {
    /* border: 1px solid black; */
    position: absolute;
    top: 42px;
    right: 15px;
    /* padding: 5px; */
    /* background-color: rgb(0, 0, 0, 0.02); */
    display: block;
    height: 32px; width: 32px;
    border-radius: 50%;
    background-color: rgba(163, 163, 163, 0.22);
    cursor: pointer;
}
.yuv_usr {
    font-family: var(--global-medium);
    font-size: 19px;
    padding-top: 10px;
}
.follow__user {
    border: var(--transparent);
    background-color: var(--transparent-brand-color);
    color: var(--brand-color);
    width: max-content;
    padding-top: 7px; padding-bottom: 7px;
    padding-left: 20px; padding-right: 20px;
    border-radius: 5px;
    font-family: var(--global-medium);
    font-size: 14px;
    letter-spacing: 0.2px;
    cursor: pointer;
    margin-right: 12px;
}
.fu_xyz {
    color: white;
    background-color: var(--brand-color);
}
.block__for__profile__only {
    display: block;
}
.another__class {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    /* border-bottom: var(--transparent); */
}
.user_data_about {
    font-family: var(--global-regular);
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 15px;
    width: 75%;
    color: rgb(62, 62, 62);
}
.parnt__cnt_wyyyt {
    /* border: 1px solid black; */
    display: flex;
    width: 100%;
    box-sizing: border-box;
}
.whats_yyy {
    border-bottom: var(--border-all);
    padding-right: 25px; padding-left: 25px;
    display: flex;
    padding-top: 20px; padding-bottom: 18px;
    margin-top: 3px;
}
.inipic_xyz, .ini__inp {
    /* border: 1px solid red; */
}
.inipic_xyz {
    width: 10%;
    /* height: 33px; */
}
.ini__inp {
    width: 90%;
    position: relative;
}
input[type="text"].disbld__inp__post {
    background-color: rgb(247, 247, 247);
    width: 100%;
    height: 45px;
    padding-left: 19px;
    border-radius: 1000px;
    font-family: var(--global-regular);
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s all;
    letter-spacing: 0.1px;
}
.input[type="text"].disbld__inp__post::placeholder {
    color: rgb(202, 202, 202);
}
.img__winipc {
    width: 41px; height: 41px; border-radius: 50%; object-fit: cover;
}
.inp__create__btn {
    position: absolute;
    background-color: var(--brand-color);
    color: white;
    right: 7px;
    padding-top: 8px; padding-bottom: 8px;
    width: 96px;
    border-radius: 1000px;
    font-size: 15px;
    font-family: var(--global-medium);
    top: 6px;
    text-align: left;
    padding-left: 15px;
    cursor: pointer;
}
.carousel__btn__div {
    /* border: 1px solid black; */
    position: absolute;
    top: 19px;
    right: 27px;
}


/* this is more sidebar */
.modal__sidebar {
    /* background-color: rgb(0, 0, 0, 0.14); */
    position: fixed;
    top: 0;
    /* left: 0; */
    width: 100vw; height: 100vh;
    z-index: 100;
    pointer-events: none;
    display: none;
}
.modal__sidebar_parent { 
    background-color: white;
    padding: 10px;
    /* width: 95%; */
    width: 255px;
    /* margin-left: 55px; */
    margin-top: 80px;
    border-radius: 10px;
    /* height: 90%; */
    margin-bottom: 20px;
    /* box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;    */
    /* border: 1px solid rgb(230, 230, 230); */
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
    pointer-events: all;
    height: max-content;
    margin-top: 75px;
    padding-left: 18px;
    /* border: var(--border-all); */
}
.modal__sidebar_parent:hover {
    /* background-color: transparent; */
}
.sidebar__profile_img {
    width: 50px; height: 50px;
    border-radius: 50%; object-fit: cover;
    margin-bottom: 10px;
}
.name__sidebar{
    font-family: var(--global-medium);
    font-size: 18px; font-weight: 500;
    color: black; margin-top: 10px; margin-bottom: 0px; margin-left: 5px;
} 
.xqlsd_usn {
    font-family: var(--global-regular);
    display: block;
    font-size: 14px;
    margin-left: 5px;
    color: gray;
    /* margin-bottom: 18px; */
}
.sideb__mn_p {
    font-family: var(--global-regular);
    font-size: 14px; font-weight: 400;
    margin-top: 0px; margin-bottom: 20px;
    margin-right: 10px;
    color: #8e8e8e;
}
.flex__sidebar {
    display: flex;
}
.close_more_sideb {
    position: absolute;
    right: 0;
}
.close_more_sideb { 
    fill: #494949;
    width: 20px; height: 20px;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.6s all;
    box-sizing: content-box;
}
.close_more_sideb:hover {
    stroke: #00acee;
    background-color: #00abee23;
}
.span__mn_p {
    font-family: var(--global-bold);
    color: black;
}
.sidebar__menu {
    display: flex;
    padding-top: 8px; padding-bottom: 8px;
    cursor: pointer;
    padding-left: 8px;
    margin-bottom: 12px;
    border-radius: 1000px;
    transition: 0.6s all;
}
.div-b-c-sideb > div > h6, .div-b-c-sideb > div > a > h6, .sidebar__menu > div >  h6 {
    font-family: var(--global-regular);
    margin-bottom: 0px; margin-top: -1px;
    font-size: 17px;
    /* font-weight: 400; */
    color: gray;
    transition: all 0.6s;
    /* border: 1px solid black; */
    letter-spacing: 0.2px;
}
.sidebar__menu:hover {
    background-color: rgba(78, 78, 78, 0.1);
    transition: 0.6s all;
}
.sidebar__menu:hover .sidebar__menu_h6 {
    /* font-weight: 600; */
    font-family: var(--global-bold);
    transition: 0.6s all;
    color: black;
}
.flex__me_too {
    display: flex;
    position: relative;
}
.sidebar__inner_svg {
    width: 20px; height: 20px;
    margin-right: 15px;
    /* stroke: #9c9c9c; */
}
.profile__init__cont {
    /* border: 1px solid black; */
    width: 60px; height: 60px;
    border-radius: 50%;
    background-color: rgb(243, 243, 243);
    position: relative;
}
.blk__proflname {
    font-family: var(--global-bold);
    color: var(--brand-color);
    display: block;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.9px;
}
.carouselbtn {
    background-color: var(--brand-color);
    /* margin-right: 5px; margin-left: 5px; */
    border-radius: 50%;
    width: 9px; height: 9px;
    margin-right: 3px; margin-left: 3px;
    /* margin-top: 20px; */
    cursor: pointer;
    transition: 0.6s all;
}
.active {
    /* fill: blue; */
    /* background:red;
    border: 1px solid pink; */
    background-color: var(--brand-color);
    transition: 0.6s all;
  }
  
  .inactive {
    background-color: rgb(238, 238, 238);
    transition: 0.6s all;
  }
.btn__holder__carsl {
    /* border: 1px solid black; */
    margin-bottom: -11px;
}
.sgstn_tst:last-child {
    /* border: 1px solid black; */
    margin-bottom: 30px;
}
._000leftbar > .profile__fxd {
    /* border: 1px solid black; */
    border: 1px solid rgb(240, 240, 240);
    width: 220px;
    /* max-width: 100%; */
    position: fixed;
    bottom: 0;
    border-radius: 1000px;
    padding: 5px;
    background-color: rgb(248, 248, 248);
} 
.__user__data__hold {
    /* border: 1px solid black; */
    background-color: rgb(238, 238, 238);
    height: 38px; width: 38px;
    border-radius: 50%;
    position: relative;
    margin-left: 7px;
    margin-top: 2px;
}
.user__initial {
    font-family: var(--global-bold);
    color: var(--brand-color);
    display: block;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.9px;
}
.norms__ava {
    display: block;
    font-size: 16px;
    font-family: var(--global-bold);
    margin-left: 18px;
    color: rgb(90, 90, 90);
}
.normass__zz {
    display: block;
    /* border: 1px solid black; */
    font-size: 12px;
    font-family: var(--global-regular);
    margin-top: 0px; padding-top: 0px;
    color: gray;
}
.more_explained {
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 210px;
    bottom: 70px;
    border-radius: 20px;
    padding-top: 8px; padding-bottom: 8px;
    /* color: #01a8ea1d; */
}
.xmmx___stan {
    display: block;
    padding-top: 12px; padding-bottom: 12px;
    padding-left: 19px;
    font-family: var(--global-medium);
    font-size: 15.4px;
    color: rgb(93, 93, 93);
    letter-spacing: 0.2px;
    transition: 0.6s all;
}
.xmmx___stan:first-child {
    border-bottom: var(--border-all);
}
.xmmx___stan:hover {
    color: #00ACEE;
    transition: 0.6s all;
}
.div__for__vid {
    width: 100%;
    position: relative;
    min-height: 500px;
    border-radius: 20px;
    margin-bottom: 4px;
    background-color: black;
  }
  .vide0__baby {
    width: 100%;
    height: 100%;
    position: absolute;
    /* max-height: 520px; */
  }
  .play__btn__post {
    position: absolute;
    width: 205px; height: 205px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* fill: #01a8ea97; */
  }
  /* active and inactive state */
 .activeState{
    background-color: rgba(107, 107, 107, 0.133);
    border-radius: 1000px !important;
}
.vid__media__preview {
    width: 100%; height: 100%;
    position: absolute;
    border-radius: 20px;
    object-fit: cover;
}
.img__media__preview {
    width: 170px; height: 170px;
    object-fit: cover;
    border-radius: 20px;
}
.img___hol {
    margin-right: 3px; margin-left: 3px;
}
.media__preview {
    border: 1px solid black;
    /* display: flex; */
    margin-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
}
.vid___hol {
    display: block;
    height: 220px;
    width: 220px;
    /* border: 1px solid black; */
    position: relative;
    border-radius: 20px;
}
.options___prfl__dxdy {
    padding: 8px;
    position: absolute;
    width: 22px; height: 22px;
    /* border: 1px solid black; */
    stroke: gray;
    right: 10px;
    border-radius: 50%;
    box-sizing: content-box;
    top: 7px;
    background-color: rgb(238, 238, 238);
}
.edit__profile__container {
    border: 1px solid black;
    margin-top: 3px;
    padding-top: 40px;
    padding-right: 35px; padding-left: 35px;
}
.edit__pc__flex {
    /* border: 1px solid black; */
    display: flex;
}
.edit__pc__flex> div:nth-child(1) {
    /* border: 1px solid red; */
    width: 19%;
}
.edit__pc__flex > div:nth-child(2) {
    /* border: 1px solid blue; */
    width: 81%;
}
.edit__profile__img {
    width: 80px; height: 80px; border-radius: 50%; object-fit: cover;
    margin-top: 10px;
}
input[type="text"].data_content_pass, input[type="password"].data_content_pass {
    height: 45px;
    width: 100%;
    border-radius: 4px;
    padding-left: 15px;
    font-family: var(--global-regular);
    font-size: 16px;
    background-color: rgb(248, 248, 248);
    outline: none;
    border: 1px solid rgba(228, 228, 228, 0.264);
    border: none;
    caret-color: var(--brand-color);
    margin-bottom: 6px;
}
.edit__pc__block {
    border: 1px solid black;
} 