.__main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding-bottom: 120px;
}
._xparnts, ._xparnts_y {
  width: 350px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}
._xparnts_y {
  width: 450px;
} 
._0004_logo_svg {
  width: 190px;
  margin: auto;
}
.vdf_data, .span_dta_vn {
  font-family: var(--global-medium);
  display: block;
  text-align: center;
  font-size: 23px;
  margin-top: 10px; margin-bottom: 22px;
  color: rgb(81, 81, 81);
  letter-spacing: 0.2px;
}
.oauths_ {
  width: 100%;
  padding-top: 17px; padding-bottom: 17px;
  border-radius: var(--rounded-radius);
  margin-bottom: 6px;
  font-family: var(--global-regular);
  font-weight: 500;
  position: relative;
  padding-left: 22px;
  color: rgb(100, 100, 100);
  cursor: pointer;
  transition: 0.5s all;
  font-size: 15px;
  background-color: rgb(248, 248, 248);
  letter-spacing: 0.3px;
  color: rgb(140, 140, 140);
  border: 1px solid rgba(228, 228, 228, 0.264);
}
.oauths_:hover ._0016_auth_svg {
  scale: 1.2;
  transition: 0.5s all;
}
._0016_auth_svg {
  width: 19px; height: 19px;
  position: absolute;
  left: 22px;
  transition: 0.5s all;
  top: 16px;
}
._oxr {
  padding-top: 25px; padding-bottom: 25px;
  position: relative;
}
._oxr > div {
  height: 1px;
  background-color: rgba(225, 225, 225, 0);
}
.or {
  position: absolute;
  font-family: var(--global-bold);
  padding: 4px;
  background-color: white;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: rgb(170, 170, 170);
  color: rgb(81, 81, 81);
}
.xpnd_inpts > div, .ibistro__xyz > div, .ibistro__xyz__one > div {
  height: 59px;
}
.ibistro__xyz {
  display: flex;
}
.ibistro__xyz > div:nth-child(1) {
  width: 50%;
}
.ibistro__xyz > div:nth-child(2) {
  width: 50%;
}
input[type="text"].data_content_pass, input[type="password"].data_content_pass {
  height: 52px;
  width: 100%;
  border-radius: 10px;
  padding-left: 15px;
  font-family: var(--global-regular);
  font-size: 15px;
  background-color: rgb(248, 248, 248);
  outline: none;
  border: 1px solid rgba(228, 228, 228, 0.264);
  caret-color: var(--brand-color);
}
input[type="text"].data_content_pass::placeholder, input[type="password"].data_content_pass::placeholder {
  color: rgb(160, 160, 160);
  letter-spacing: 0.2px;
}
input[type="text"].data_content_pass:focus, input[type="password"].data_content_pass:focus {
  border: 1px solid #01a8ea7a;
}
input[type="text"].data_content_pass:focus::placeholder, input[type="password"].data_content_pass:focus::placeholder {
  color: var(--transparent-brand-color-placeholder);
}
input[type="text"].data_content_inpcode {
  text-align: center;
  transition: 0.1s all;
  padding-left: 0px;
}
input[type="text"].data_content_inpcode:focus {
  text-align: center;
  letter-spacing: 3px;
  font-size: 20px;
  font-family: var(--global-bold);
  transition: 0.1s all;
}
input[type="text"].data_content_inpcode:not(:focus):not(:placeholder-shown) {
  text-align: center;
  letter-spacing: 3px;
  font-size: 20px;
  font-family: var(--global-bold);
  transition: 0.5s all;
}
.pass_data_bd {
  width: 100%;
  background-color: var(--brand-color);
  font-family: var(--global-medium);
  color: white;
  display: block;
  margin-top: 28px;
  padding-top: 17px; padding-bottom: 17px;
  border-radius: var(--rounded-radius);
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 0.2px;
}
.ouplskk {
  font-family: var(--global-medium);
  display: block;
  text-align: center;
  margin-top: 19px;
  font-size: 15px;
  color: var(--brand-color);
  letter-spacing: 0.2px;
}
._0013_span, .xkktndckl, ._000xsry, ._00sxtry {
  text-align: left;
  display: block;
  font-family: var(--global-regular);
  font-size: 12px;
  padding-top: 3px;
  color: #01A8EA;
  cursor: pointer;
  letter-spacing: 0.1px;
}
.invalid_svg {
  width: 12px; height: 12px; margin-right: 4px;
}
._0014_t0ggl {
  position: absolute;
  height: 15px; width: 15px;
  right: 10px; top: 20px;
  background: url(/show.svg);
  background-size: cover;
  cursor: pointer;
}
._0014_t0ggl.hide {
  background: url(/hide.svg);
  background-size: cover;
}
.xkktndckl {
  color: rgb(176, 176, 176);
  padding-top: 10px;
  text-align: center;
  margin-top: 10px;
  font-size: 11px;
}
.data_pwd_lock {
  border: 1px solid rgb(117, 117, 117);
  display: block;
  width: 60px;
  height: 60px;
  margin: auto;
  border-radius: 50%;
  position: relative;
  margin-bottom: 15px;
}
.data_pwd_lock > svg {
  height: 32px; width: 32px;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
.data_pwd_lock > .email_svg {
  height: 27px; width: 27px;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
._000xsry {
  color: gray;
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: -6px;
  line-height: 22px;
}
.overrd-pass-dbd {
  background-color: var(--transparent-brand-color);
  color: var(--brand-color);
  background-color: var(--transparent);
  display: block;
  transition: 0.5s all;
}
.overrd-pass-dbd:hover {
  background-color: var(--transparent-brand-color);
  transition: 0.5s all;
}
._00rsnd {
  font-family: var(--global-regular);
  font-size: 14px;
  display: block;
  text-align: center;
  box-sizing: border-box;
  color: #01A8EA;
  width: max-content;
  margin: auto;
  margin-top: 25px;
  padding-top: 4px; padding-bottom: 4px;
  width: 100%;
  border-radius: 5px;
  background-color: #01a8ea24;
  position: relative;
  padding-left: 10px;
  padding-top: 5px; padding-bottom: 5px;
}
.yxxz {
  position: absolute;
  top: 7px;
  left: 15px;
}
.stats__ttl {
  font-family: var(--global-regular);
  color: gray;
  display: block;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.dropdown_option {
  border: 1px solid black;
  outline: none;
  border-radius: 4px;
  padding-left: 15px;
  cursor: pointer;
  border: 1px solid rgba(228, 228, 228, 0.264);
  height: 52px;
  background-color: rgb(248, 248, 248);
}
.select__all__component {
  position: relative;
}
.dropdown_option > span {
  font-family: var(--global-regular);
  font-size: 16px;
  color: rgb(112, 112, 112);
  margin-top: 10px;
  display: block;
}
.dropdown {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px;
  margin-top: 6px;
  border-radius: 4px;
}
.select__data {
  font-family: var(--global-regular);
  font-size: 16px;
  color: rgb(112, 112, 112);
  display: block;
  padding-left: 15px;
  border-bottom: 1px solid rgb(226, 226, 226);
  padding-top: 10px; padding-bottom: 10px;
  transition: 0.5s all;
}
.dropdown > div:last-child .select__data {
  border-bottom: none;
}
.select__data:hover {
  cursor: pointer;
  color: var(--brand-color);
  transition: 0.5s all;
}
.span_checkb_data {
  display: block;
  margin-top: 11px;
}
.span_x_xsd, .alert-user-choice {
  font-family: var(--global-regular);
  color: var(--grey);
  padding-left: 10px;
  font-size: 16px;
}
.alert_user_choice {
  border-radius: 4px;
  display: block;
  color: var(--brand-color);
  background-color: var(--transparent-brand-color);
  padding: 8px;
  margin-top: 10px;
  font-size: 15px;
}
.invalid_svg_2 {
  width: 14px; height: 14px;
}
.available, .no_options_alert {
  width: 15px; height: 15px;
  top: 15px;
  right: 10px;
  position: absolute;
}
.xsteps_count {
  font-family: var(--global-medium);
  display: block;
  margin-top: 25px;
  color: var(--brand-color);
  background-color: var(--transparent-brand-color);
  width: max-content;
  padding-right: 9px; padding-left: 9px;
  padding-top: 5px; padding-bottom: 5px;
  border-radius: 1000px;
}
.xs_cnt {
  margin-right: 5px;
}
.btn_data_container {
  margin-top: 45px;
  position: relative;
  height: 70px;
}
.submit_user_data {
  background-color: var(--transparent-brand-color);
  color: var(--brand-color);
  width: 110px;
  font-family: var(--global-medium);
  padding-bottom: 10px; padding-top: 10px;
  position: relative;
  right: 0px;
  border-radius: var(--rounded-radius);
  text-align: left;
  padding-left: 22px;
  cursor: pointer;
}
.arrow_next {
  width: 18px; height: 18px;
  position: absolute;
  right: 15px;
}
.user_bio_data {
  font-family: var(--global-regular);
  font-size: 15px;
  padding-left: 15px;
  padding-top: 10px; padding-bottom: 10px;
  resize: none;
  background-color: rgb(248, 248, 248);
  width: 100%;
  outline: none;
  height: 100px;
  border-radius: 4px;
  display: block;
  caret-color: var(--brand-color);
  border: 1px solid rgba(228, 228, 228, 0.264);
}
.user_bio_data::placeholder {
  color: rgb(160, 160, 160);
}
.user_bio_data:focus {
  border: 1px solid #01a8ea7a;
}
.user_bio_data:focus::placeholder {
  color: var(--transparent-brand-color-placeholder);
}
.xspanfloat {
  position: absolute;
  right: 0px;
}
.count_bio_words {
  width: max-content;
  position: absolute;
  right: 13px;
  top: 6px;
  color: white;
  font-family: var(--global-medium);
  font-size: 13px;
  width: 27px; height: 27px;
  border-radius: 50%;
  text-align: center;
  display: block;
}
.cbw_num{
  font-size: 13.5px;
  margin-top: 5px;
  display: block;
  letter-spacing: 0.1px;
  color: var(--brand-color);
}
.top__wrapper {
  width: max-content;
  height: max-content;
  margin: auto;
  position: relative;
}
.image__wrapper__, .image__wrapper__xx {
  width: 160px;
  height: 160px;
  background-color: rgb(245, 245, 245);
  margin: auto;
  border-radius: 50%;
  position: relative;
  padding: 5px;
  /* margin-top: 50px; */
  margin-bottom: 25px;
}
.image__wrapper__xx {
  border: 2px solid rgb(235, 235, 235);
  background-color: white;
  border-style: dashed;
}
.x_xjhhl_img {
  width: 94%;
  height: 94%;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  object-fit: cover;
}
.camera {
  position: absolute;
  background-color: #01a8ea54;
  stroke: var(--brand-color);
  padding: 7px;
  height: 22px; width: 22px;
  box-sizing: content-box;
  right: 0px;
  bottom: 1px;
  border-radius: 40%;
  cursor: pointer;
}
.span_dta_vn {
  font-size: 19px;
  margin-top: 27px;
}
._00sxtry {
  text-align: center;
  margin-top: -15px;
  color: rgb(183, 183, 183);
}
#react_wrapper_three {
  margin-bottom: 140px;
}
.upload_all_dt {
  width: 170px;
}
.sracde {
  font-family: var(--global-regular);
  font-size: 14px;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 16px;
  color: gray;
}
.topme__ {
  margin-top: 45px;
}
.sapn__rsbd {
  color: var(--brand-color);
  font-family: var(--global-medium);
  cursor: pointer;
}
.sending_code {
  padding-top: 0px; padding-bottom: 0px;
  background-color: var(--transparent);
}
.loader__ {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 1000;
}
._loader_img {
  width: 190px;
}
.react__loader__child__div {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.__spanerror {
  position: absolute;
  top: 19px;
  right: 10px;
}
.passwrd__error {
  position: relative;
  right: 0px;
  top: 0px;
  margin-left: 14px;
}
.absolute__span {
  position: absolute;
  width: max-content;
  right: 10px; top: 17px;
}
.svg__showpaswd {
  width: 15px; height: 15px;
}
.popup__upldmodal {
  position: fixed;
  width: 100vw; height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0px;
  z-index: 100;
  left: 0px;
  overflow-y: auto;
}
.title_mdlupld {
  font-family: var(--global-medium);
  font-size: 17px;
  display: block;
  text-align: center;
  width: max-content;
  margin: auto;
}
.closepicupld {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.10);
  stroke: rgb(92, 92, 92);
  width: 18px; height: 18px; padding: 6px;
  border-radius: 50%;
  box-sizing: content-box;
  margin-top: 0px; margin-left: 16px;
  position: absolute;
  top: 13px;
}
.avatar_y {
  border: 1px solid red;
}
.tytyty {
  border-bottom: 1px solid rgb(235, 235, 235);
  display: flex;
  position: relative;
  padding-top: 15px; padding-bottom: 15px;
  margin-bottom: 15px;
}
.photobaby {
  position: absolute;
  fill: gray;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 70px;
  width: 55px; height: 55px;
}
.xyyxyy {
  position: relative;
}


/* error 404 styles */
.error__nav {
  padding-top: 4px; padding-bottom: 0px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: 100vw;
  position: fixed;
  top: 0; left: 0;
  z-index: 100;
  background-color: white;
}
.error__firstdiv, .div_babyy_xy {
  max-width: 850px;
  width: 95%;
  margin: auto;
}
.div_babyy_xy {
  margin-top: 200px;
}
.curved404 {
  width: 290px; height: 290px;
  border-radius: 50%;
}
.cftpg {
  display: block;
  text-align: center;
  padding-top: 10px;
  font-size: 28px;
  font-family: var(--global-bold);
  padding-bottom: 15px;
  color: #01A8EA;
  background: linear-gradient(to left, #00fff0, #0070d7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.error_stry {
  font-family: var(--global-regular);
  font-size: 16px;
  text-align: center;
  display: block;
  letter-spacing: 0.05px;
  line-height: 28px;
  color: #426370e7;
}
.gbh_btn {
  background-color: var(--brand-color);
  font-family: var(--global-medium);
  font-size: 15px;
  width: 250px;
  padding-top: 11px; padding-bottom: 11px;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}
.error__msg__xyx {
  border: 1px solid black;
  display: block;
  padding-top: 10px; padding-bottom: 10px;
  border-radius: 1000px;
  border: 1px solid var(--brand-color);
  background-color: #01a8ea33;
  text-align: center;
  position: relative;
}
.error__inval {
  width: 21px; height: 21px;
  fill: var(--brand-color);
  position: absolute;
  left: 10px;
}
.error__txt__xyx {
  width: max-content;
  margin: auto;
  font-family: var(--global-regular);
  font-size: 15px;
}
.yxyx__spn__upld {
  display: block;
  font-family: var(--global-medium); 
  color: var(--brand-color);
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  letter-spacing: 0.2px;
}
@media screen and (max-width: 920px) {
  .cftpg {
    font-size: 25px;
  }
  .error_stry {
    width: 90%;
    margin: auto;
  }
  .error__firstdiv, .div_babyy_xy {
    width: 90%;
  }
  ._0004_err_svg {
    width: 120px;
  }
  .div_babyy_xy {
    margin-top: 170px;
  }
  .error__nav {
    padding-top: 2px;
  }
}
/* error 404 styles */

.svg__signup__ll {
  fill: rgb(170, 170, 170); width: 16px; height: 16px;
}
.xxdffghy__09l {
  display: flex; margin-top: 0px;
}
.xxdffghy__09l > div {
  width: 50%;
}
.xxdffghy__09l > div:nth-child(1) {
  padding-right: 30px;
}
.xxdffghy__09l > div:nth-child(2) {
  padding-left: 30px;
}
.xyxy__svg__subck {
  width: 27px;
  height: 27px;
  fill: var(--brand-color);
  position: absolute;
  left: 17px;
  top: 12.8px;
}
.react__wrapper__component_pp {
  border: 1px solid rgb(230, 230, 230); 
  height: 350px; 
  border-radius: 10px; position: relative;
}
.xyxy__svgg__upld {
  width: 35px; 
  height:35px; 
  fill: rgb(220, 220, 220);
}
.popup__upldmodal__child {
  position: absolute;
  width: 500px;
  height: 600px;
  border-radius: 20px;
  background: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px;
}
.span__inperr {
  /* border: 1px solid black; */
  display: block;
  padding-top: 3px; padding-bottom: 3px;
  border-radius: 7px;
  /* border: 1px solid var(--brand-color); */
  background-color: #ff4242;
  text-align: center;
  position: absolute;
  bottom: 18px;
  width: max-content;
  left: 50%;
  transform: translate(-50%, -50%);
}
.span__inperr::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #ff4242 transparent transparent transparent;
}
.span__inperr > span {
  color: white;
  font-family: var(--global-regular);
  /* background-color: red; */
  padding-left: 9px; padding-right: 9px;
  font-size: 12px;
  letter-spacing: 0.2px;
}
/* responsiveness */
@media screen and (max-width: 520px) {
  ._xparnts, ._xparnts_y {
    width: 100vw; 
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    box-sizing: border-box;
    padding-right: 39px; padding-left: 39px;
  }
  .vdf_data, .span_dta_vn {
    font-family: var(--global-bold);
    font-weight: 500;
    font-size: 18px;
    margin-top: 32px; margin-bottom: 22px;
    color: rgb(80, 80, 80);
    letter-spacing: 0.2px;
  }
  .oauths_ {
    width: 100%;
    padding-top: 18px; padding-bottom: 18px;
    border-radius: var(--rounded-radius);
    margin-bottom: 4px;
    font-family: var(--global-regular);
    font-weight: 500;
    padding-left: 22px;
    font-size: 13px;
    background-color: rgb(248, 248, 248);
    letter-spacing: 0.2px;
    color: rgb(130, 130, 130);
    border: none;
  }
  ._0016_auth_svg {
    width: 16px; height: 16px;
    position: absolute;
    left: 19px;
    transition: 0.5s all;
    top: 17px;
  }
  ._oxr {
    padding-top: 17px; padding-bottom: 11px;
    position: relative;
  }
  ._oxr > div {
    height: 1px;
    background-color: rgba(225, 225, 225, 0);
  }
  .or {
    position: absolute;
    font-family: var(--global-bold);
    padding: 4px;
    background-color: white;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-weight: 600;
    color: rgb(80, 80, 80);
  }
  input[type="text"].data_content_pass, input[type="password"].data_content_pass {
    height: 49px;
    width: 100%;
    padding-left: 15px;
    font-family: var(--global-regular);
    font-size: 13px;
    background-color: rgb(248, 248, 248);
    outline: none;
    border: 1px solid rgba(228, 228, 228, 0.264);
    border: none;
    caret-color: var(--brand-color);
  }
  .xpnd_inpts > div, .ibistro__xyz__one > div {
    height: 53px;
  }
  .svg__showpaswd {
    width: 13px; height: 13px;
  }
  .absolute__span {
    position: absolute;
    width: max-content;
    right: 13px; top: 14px;
  }
  .error______svg {
    height: 12px; height: 12px;
  }
  .error______svg__chev {
    width: 17px; height: 17px;
    margin-top: 0px;
  }
  .pass_data_bd {
    width: 100%;
    background-color: var(--brand-color);
    font-family: var(--global-medium);
    color: white;
    display: block;
    margin-top: 33px;
    padding-top: 15px; padding-bottom: 15px;
    border-radius: var(--rounded-radius);
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.2px;
  }
  .__spanerror {
    position: absolute;
    top: 14px;
    right: 10px;
  }
  .passwrd__error {
    position: relative;
    right: 0px;
    top: 0px;
    margin-left: 8px;
  }
  ._0013_span, .xkktndckl, ._000xsry, ._00sxtry {
    text-align: left;
    display: block;
    font-family: var(--global-regular);
    font-size: 11px;
    padding-top: 3px;
    color: #01A8EA;
    cursor: pointer;
    letter-spacing: 0.2px;
  }
  .ouplskk {
    font-family: var(--global-medium);
    display: block;
    text-align: center;
    margin-top: 15px;
    font-size: 13px;
    color: var(--brand-color);
    letter-spacing: 0.2px;
    font-weight: 500;
  }
  .xkktndckl {
    color: rgb(176, 176, 176);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 9px;
  }
  .xyyx___loader__btn {
    width: 28px; height: 28px;
  }
  .error__txt__xyx {
    font-size: 13px;
  }
  .error__inval {
    width: 16px; height: 16px;
    top: 11px;
  }
  .error__msg__xyx {
    border: 1px solid black;
    display: block;
    padding-top: 6px; padding-bottom: 6px;
    border-radius: 5px;
    border: 1px solid var(--brand-color);
    background-color: #01a8ea33;
    text-align: center;
    position: relative;
    margin-top: 8px;
  }
  .data_pwd_lock {
    border: 1px solid rgb(117, 117, 117);
    display: block;
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 50%;
    position: relative;
    margin-bottom: -10px;
    margin-top: 16px;
  }
  .data_pwd_lock > svg {
    height: 25px; width: 25px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
  }
  ._000xsry {
    color: gray;
    text-align: center;
    font-size: 13px;
    margin: auto;
    margin-bottom: 8px;
    margin-top: -18px;
    line-height: 20px;
    width: 90%;
  }
  .new__change__btn {
    margin-top: 16px;
  }
  .data_pwd_lock > .email_svg {
    height: 24px; width: 24px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
  }
  .sracde {
    font-family: var(--global-regular);
    font-size: 13px;
    font-weight: 500;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 16px;
    color: gray;
  }
  .xsteps_count {
    font-family: var(--global-medium);
    font-weight: 600;
    font-size: 13px;
    display: block;
    margin-top: 25px;
    padding-top: 3px; padding-bottom: 3px;
    color: var(--brand-color);
  }
  .svg__signup__ll {
    fill: rgb(170, 170, 170);
    width: 14px; height: 14px;
  }
  .count_bio_words {
    right: 10px;
    top: 5px;
  }
  .cbw_num{
    font-size: 11.5px;
    font-weight: 600;
  }
  .user_bio_data {
    font-size: 13px;
  }
  .xxdffghy__09l > div:nth-child(1) {
    padding-right: 17px;
  }
  .xxdffghy__09l > div:nth-child(2) {
    padding-left: 17px;
  }
  .xyxy__svg__subck {
    width: 22px;
    height: 22px;
    fill: var(--brand-color);
    position: absolute;
    left: 10px;
    top: 12.5px;
  }
  .react__wrapper__component_pp {
    border: 1px solid rgb(230, 230, 230); 
    height: 270px; 
    border-radius: 10px; position: relative;
  }
  .image__wrapper__, .image__wrapper__xx {
    width: 140px;
    height: 140px;
    background-color: rgb(245, 245, 245);
    margin-top: 30px;
  }
  .image__wrapper__xx {
    border: 2px solid rgb(235, 235, 235);
    background-color: white;
    border-style: dashed;
  }
  .xyxy__svgg__upld {
    width: 25px; 
    height:25px; 
    fill: rgb(220, 220, 220);
  }
  .yxyx__spn__upld {
    font-family: var(--global-medium);
    font-weight: 600;
    font-size: 13px;
    padding-top: 8px;
  }
  ._00sxtry {
    text-align: center;
    margin-top: -15px;
    color: rgb(183, 183, 183);
  }
  .closepicupld {
    width: 15px; height: 15px;  margin-left: 19px;
    top: 15px;
  }
  .title_mdlupld {
    font-family: var(--global-medium);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: rgb(33, 33, 33);
  }
  .photobaby {
    width: 45px; height: 45px;
  }
  ._loader_img {
    width: 135px;
  }
  .react__loader__child__div {
    top: 45%;
  }
  .span__inperr {
    display: none;
  }
  input[type="text"].data_content_inpcode {
    text-align: center;
    transition: 0.1s all;
    padding-left: 0px;
  }
  input[type="text"].data_content_inpcode:focus {
    text-align: center;
    letter-spacing: 3px;
    font-size: 16px;
    font-family: var(--global-bold);
    font-weight: 600;
    transition: 0.1s all;
  }
  input[type="text"].data_content_inpcode:not(:focus):not(:placeholder-shown) {
    text-align: center;
    letter-spacing: 3px;
    font-size: 16px;
    font-family: var(--global-bold);
    font-weight: 600;
    transition: 0.5s all;
  }
}

@media screen and (max-width: 670px) {
  .popup__upldmodal {
    position: fixed;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0px;
    z-index: 100;
    left: 0px;
    box-sizing: border-box;
  }
  .popup__upldmodal__child {
    position: absolute;
    width: 100%;
    height: 88%;
    top: none;
    left: 50%;
    transform: translate(-50%, -20%);
    margin-bottom: 0px;
    bottom: 0%;
    padding: 0px;
    border-bottom-right-radius:0px; border-bottom-left-radius: 0px;
    box-sizing: border-box;
  }
}

/* this is the loader styles */
/* .fadeOut {
  overflow-y: hidden;
  transform: 0.5s ease-in;
} */

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.no_scroll {
  overflow: hidden;
}