
/* @import 'bootstrap/dist/css/bootstrap.css'; */
@font-face {
  font-family: 'Roboto-Light';
  src: url(../fonts/Roboto/woff2/Roboto-Light.woff2) format(woff2);
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url(../fonts/Roboto/woff2/Roboto-Regular.woff2) format(woff2);
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url(../fonts/Roboto/woff2/Roboto-Medium.woff2) format(woff2);
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url(../fonts/Roboto/woff2/Roboto-Bold.woff2) format(woff2);
}
:root {
  color-scheme: only light;
  --global-thin: 'Roboto-Light', sans-serif;
  --global-regular: 'Roboto-Regular', sans-serif;
  --global-medium: 'Roboto-Medium', sans-serif;
  --global-bold: 'Roboto-Bold', sans-serif;
  --transparent: rgba(255, 255, 255, 0);
  --transparent-brand-color: #01a8ea2e;
  --brand-color: #01A8EA;
  --rounded-radius: 1000px;
  --curved-radius: 12px;
  --grey: gray;
  --transparent-brand-color-placeholder: #01a8eaa3;
  --white: white;
  --main-width: 1250px;
  --modal-radius: 20px;
  --border-all: 1px solid rgb(235, 235, 235);
  --modal-radius: 20px;
  --global-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  --transparent-background-color: #01a8ea14;
}
html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}
body {
  /* background-color: rgb(254, 254, 254); */
}
/* hide scrollbar  */
.no-scroll {
  overflow: hidden;
}

input, button, img, svg, select, textarea {
  -webkit-touch-callout: none; 
  -webkit-user-select: none;
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none;
  user-select: none;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 17px;
  width: 17px; 
  border-radius: 50em;
  background: url(/cancelsearch.svg) no-repeat 50% 50%;
  background-size: contain;
  opacity: 1;
} 
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset !important;
  transition: background-color 5000s ease-in-out 0s;
  backdrop-filter: none !important;
}
input:autofill {
  -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset !important;
  transition: background-color 5000s ease-in-out 0s;
  backdrop-filter: none !important;
}
button:disabled, 
button[disabled]{
  background-color: #a7cafd;
  color: #ffffff;
  cursor: default;
  transition: 0.6s all;
  cursor: not-allowed;
}
button:disabled:hover,
button[disabled]:hover {
  box-shadow: none;
}
input,
textarea,
button,
select,
a,
div {
    -webkit-tap-highlight-color: transparent;
    appearance: none;
    -webkit-appearance: none;
}
button:focus, a:focus {
  outline: 2px solid var(--transparent);
}